@font-face {
    font-family: Norse;
    src: url(./font/Norse-Bold.otf);
}


* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Lato", sans-serif;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
}


.blank {
    background-color:rgb(245,245,245);
    width: 70vw;

}

.container .img img {
    height: 99.99lvh;
}

.img img {
    width: 33vw;
}


.absolute {
    position: absolute;
    z-index: 1;
    width: 32vw;
    top: 20vh;
    height: 20vh;
}

p {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2.2rem;
}


.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 20vh;
}





.red {
    color: red;
}


.transparent {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


.transparent span {
    font-size: 100px;
    color: white;
    font-family: Norse;
    margin-left: 20px;
}


.transparent img {
    height: 400px;
}


.userInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 27vh;
}


.labels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40vw;
    margin-top: 4vh;
    
}

.labels>form {
    margin-top: 2vh;
}

input, label {
    display:block;
}

.text-2 {
    position: relative;
    right: 25vw;
}


input {
    border-radius: 5%;
    border: none;
}

input:invalid {
    border: red 1px solid
}

input:valid {
    border: green 1px solid ;
}

.labels input:focus {
    border: 1px solid blue;
    box-shadow: inset;
}


.btnCreate {
    position: relative;
    top: 32vh;
    left: 14vw;
}

.btnCreate button {
    background-color: darkorange;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: white;
    font-size: large;
}

.btnCreate button:hover {
    cursor: pointer;
}


.login {
    position: relative;
    top: 35vh;
    left: 14vw;
}

.login p {
    font-size: 15px;
}

.login a {
    color: darkorange;
}

.login a:hover {
    cursor: pointer;
}






.typewriter  {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 13% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }